<header>
  <div class="container header-container">
    <nav class="header-nav">
      <img
        class="header-logo"
        src="./img/logo.svg"
        width="64"
        height="36"
        alt="logo coffe joy"
      />
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="./index.html">About us</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="">Benefits</a></li>
        <li class="nav-item"><a class="nav-link" href="">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="">Testimonial</a></li>
        <li class="nav-item"><a class="nav-link" href="">Location</a></li>
      </ul>
      <button class="burger-btn" type="button" data-menu-open>
        <svg class="burger-icon" width="24" height="24">
          <use href="./img/sprite.svg#menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
