<header>
  <div class="container header-container">
    <nav class="header-nav">
      <a href="./index.html" target="_self" title="company logo">
      <img
        class="header-logo"
        src="./img/logo.svg"
        width="64"
        height="36"
        alt="logo coffe joy"
      />
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#welcome" title="about us">About us</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#quality" title="Benefits">Benefits</a></li>
        <li class="nav-item"><a class="nav-link" href="#experience" title="Gallery">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="#testimonials" title="Testimonial">Testimonial</a></li>
        <li class="nav-item"><a class="nav-link" href="#location" title="Location">Location</a></li>
      </ul>
      <button class="burger-btn" type="button" data-menu-open>
        <svg class="burger-icon" width="24" height="24">
          <use href="./img/sprite.svg#menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
