<section class="section" id="location">
  <div class="container container-location">
    <div class="location-content">
      <p class="loc-text">Find</p>
      <h2 class="loc-head">Location</h2>
      <p class="loc-bottom-text">Visit us at our cozy coffee shop!</p>

      <div class="loc-link-box">
        <ul class="loc-list">
          <li class="loc-item">
            <svg class="loc-icon" width="32" height="33">
              <use href="./img/sprite.svg#envelope"></use>
            </svg>
            <p>Email</p>
            <a href="mailto:hello@coffeejoy.com">hello@coffeejoy.com</a>
          </li>

          <li class="loc-item">
            <svg class="loc-icon" width="32" height="33">
              <use href="./img/sprite.svg#phone"></use>
            </svg>
            <p>Phone</p>
            <a href="tel:+15551235321">+1 (555) 123-5321</a>
          </li>

          <li class="loc-item">
            <svg class="loc-icon" width="32" height="33">
              <use href="./img/sprite.svg#map"></use>
            </svg>
            <p>Office</p>
            <p class="loc-adrs">263 Newbury St, Boston, MA 02116, USA</p>
            <a
              class="loc-link-direct"
              href="https://maps.app.goo.gl/9CFey2ecVLEunRL2A"
            >
              Get Directions<svg class="loc-link-icon" width="24" height="25">
                <use href="./img/sprite.svg#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.6691136191894!2d-71.08594152406955!3d42.34957747119387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37a0f084cda31%3A0x2c61033530218739!2zMjYzIE5ld2J1cnkgU3QsIEJvc3RvbiwgTUEgMDIxMTYsINCh0KjQkA!5e0!3m2!1sru!2sua!4v1756661814694!5m2!1sru!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
