<div class="backdrop" data-modal>
    <div class="modal">
        <h2 class="modal-title">Welcome to the world of CoffeeJoy!</h2>
        <p class="modal-text">Fresh brews, special offers, and cozy updates are coming your way.</p>
        <picture>
            <source media="(min-width: 1440px)" srcset="./img/modal/modal-desc-1x-min.png 1x,
                ./img/modal/modal-desc-2x-min.png 2x
                " />
            <source media="(min-width: 768px)" srcset="
                ./img/modal/modal-tablet-1x-min.png 1x,
                ./img/modal/modal-tablet-2x-min.png 2x
                " />
            <source media="(max-width: 767.9px)" srcset="
                ./img/modal/modal-phone-1x-min.png 1x,
                ./img/modal/modal-phone-2x-min.png 2x
                " />
            <img class="modal-image" src="./img/modal/modal-desc-1x-min.png"
                alt="Coffee is being poured into the grinder" width="256" height="200" />
        </picture>
        <button class="modal-secondary-close-btn" type="button" data-close-modal>Close</button>
    </div>
</div>