<section class="section">
    <div class="container">
        <p class="quality">Quality</p>
        <h2 class="quality-heading">Why CoffeeJoy Stands Out from the Rest</h2>
        <p class="quality-description">At CoffeeJoy, we pride ourselves on delivering the freshest roasted coffee,
            crafted with care by our skilled baristas. Our flexible subscription plans
            ensure that your coffee experience is tailored to your needs.
        </p>
        <ul class="card-set-quality">
            <li class="picture-quality">
                <picture>
                    <source media="(min-width: 1440px)" srcset="./img/desktop/quality-desktop/Quality-desktop-1-min.png 1x,
                    ../img/desktop/quality-desktop/Quality-desktop-1@2x-min.png 2x" />
                    <source media="(min-width: 768px)" srcset="./img/tablet/quality-tablet/Quality-tablet-1-min.png 1x,
                    ../img/tablet/quality-tablet/Quality-tablet-1@2x-min.png 2x" />
                    <source media="(max-width: 767px)" srcset="./img/phone/quality/Quality-1-min.png 1x,
                    ../img/phone/quality/Quality-1@2x-min.png 2x" />
                    <img class="card-quality" srcset="" src="./img/phone/quality/Quality-1-min.png"
                        alt="Coffee is being poured into the grinder" width="288" height="164" />
                </picture>
                <div class="text-container-quality">
                    <h3 class="strengths-quality tuning">Fresh-Roasted Coffee for Every Taste</h3>
                    <p class="strengths-description adjustment">Savor the rich flavors of our expertly sourced beans.
                    </p>
                </div>
            </li>
            <li class="picture-quality">
                <picture>
                    <source media="(min-width: 1440px)" srcset="./img/desktop/quality-desktop/Quality-desktop-2-min.png 1x,
                    ../img/desktop/quality-desktop/Quality-desktop-2@2x-min.png 2x" />
                    <source media="(min-width: 768px)" srcset="./img/tablet/quality-tablet/Quality-tablet-2-min.png 1x,
                    ../img/tablet/quality-tablet/Quality-tablet-2@2x-min.png 2x" />
                    <source media="(max-width: 767px)" srcset="./img/phone/quality/Quality-2-min.png 1x,
                    ../img/phone/quality/Quality-2@2x-min.png 2x" />
                    <img class="card-quality" srcset="" src="./img/phone/quality/Quality-2-min.png"
                        alt="The barista is making espresso" width="288" height="164" />
                </picture>
                <div class="text-container-quality">
                    <h3 class="strengths-quality">Expert Baristas Crafting Your Perfect Brew</h3>
                    <p class="strengths-description">Our baristas are passionate about coffee and skilled in their
                        craft.
                    </p>
                </div>
            </li>
            <li class="picture-quality broad">
                <picture>
                    <source media="(min-width: 1440px)" srcset="./img/desktop/quality-desktop/Quality-desktop-3-min.png 1x,
                    ../img/desktop/quality-desktop/Quality-desktop-3@2x-min.png 2x" />
                    <source media="(min-width: 768px)" srcset="./img/tablet/quality-tablet/Quality-tablet-3-min.png 1x,
                    ../img/tablet/quality-tablet/Quality-tablet-3@2x-min.png 2x" />
                    <source media="(max-width: 767px)" srcset="./img/phone/quality/Quality-3-min.png 1x,
                    ../img/phone/quality/Quality-3@2x-min.png 2x" />
                    <img class="card-quality" srcset="" src="./img/phone/quality/Quality-3-min.png"
                        alt="The cup sits on the table, and the aroma of coffee fills the room" width="288"
                        height="164" />
                </picture>
                <div class="text-container-quality">
                    <h3 class="strengths-quality">Cozy Atmosphere</h3>
                    <p class="strengths-description box">We don’t just serve coffee — we create a warm and welcoming
                        space
                        where every cup feels like home.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>