<section class="page-quality">
    <div class="container">
        <h1 class="quality">Quality</h1>
        <h2 class="quality-heading">Why CoffeeJoy Stands Out from the Rest</h2>
        <p class="quality-description">At CoffeeJoy, we pride ourselves on delivering the freshest roasted coffee,
            crafted with care by our skilled baristas. Our flexible subscription plans 
            ensure that your coffee experience is tailored to your needs.
        </p>
        <ul class="card-set-quality">
            <li class="picture-quality">
                <img class="card-quality" srcset="" src="../img/phone/quality/Quality-1-min.png" alt="Coffee is being poured into the grinder" 
                width="288" height="164">
                <div class="text-container-quality">
                    <h3 class="strengths-quality">Fresh-Roasted Coffee for Every Taste</h3>
                        <p class="strengths-description">Savor the rich flavors of our expertly sourced beans.
                    </p>
                </div>
            </li>
            <li class="picture-quality">
                <img class="card-quality" srcset="" src="../img/phone/quality/Quality-2-min.png" alt="The barista is making espresso" 
                width="288" height="164">
                <div class="text-container-quality">
                    <h3 class="strengths-quality">Expert Baristas Crafting Your Perfect Brew</h3>
                        <p class="strengths-description">Our baristas are passionate about coffee and skilled in their craft.
                        </p>
                </div>
            </li>
            <li class="picture-quality">
                <img class="card-quality" srcset="" src="../img/phone/quality/Quality-3-min.png" alt="The cup sits on the table, and the aroma of coffee fills the room" 
                width="288" height="164">
                <div class="text-container-quality">
                    <h3 class="strengths-quality">Cozy Atmosphere</h3>
                        <p class="strengths-description">We don’t just serve coffee — we create a warm and welcoming space where every cup feels like home.  
                        </p>
                </div>
            </li>
        </ul>
    </div>
</section>
