<section class="section">
    <div class="container">
        <h2 class="testimonials-h2">What our visitors say</h2>
        <ul class="reviews-list">
            <li class="review-card">
                <ul class="start-list">
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-outline"></use>
                        </svg>
                    </li>
                </ul>
                <p class="review-text">"Every cup feels like a warm hug! I'm addicted to their seasonal flavors!"</p>
                <h3 class="author">Name Surname</h3>
            </li>
            <li class="review-card">
                <ul class="start-list">
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-outline"></use>
                        </svg>
                    </li>
                </ul>
                <p class="review-text">"CoffeeJoy is my go-to place for a perfect cup of coffee! The ambiance is so
                    inviting, and the baristas are always friendly."</p>
                <h3 class="author">Alice Johnson</h3>
            </li>
            <li class="review-card">
                <ul class="start-list">
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                </ul>
                <p class="review-text">"I love the variety of blends offered at CoffeeJoy. Every visit feels like a new
                    experience!"</p>
                <h3 class="author">Michael Smith</h3>
            </li>
            <li class="review-card">
                <ul class="start-list">
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-outline"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-outline"></use>
                        </svg>
                    </li>
                </ul>
                <p class="review-text">"The pastries are to die for! I can't resist pairing them with my favorite latte.
                    Highly recommend this spot!"</p>
                <h3 class="author">Emily Davis</h3>
            </li>
            <li class="review-card">
                <ul class="start-list">
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                </ul>
                <p class="review-text">"A cozy little gem! CoffeeJoy has the best cold brew in town. I come here every
                    weekend!"</p>
                <h3 class="author">James Brown</h3>
            </li>
            <li class="review-card">
                <ul class="start-list">
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-outline"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-outline"></use>
                        </svg>
                    </li>
                </ul>
                <p class="review-text">"The atmosphere is perfect for working or relaxing with friends. Their Wi-Fi is
                    fast too!"</p>
                <h3 class="author">Sarah Wilson</h3>
            </li>
            <li class="review-card">
                <ul class="start-list">
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-outline"></use>
                        </svg>
                    </li>
                </ul>
                <p class="review-text">"I'm addicted to their seasonal flavors! Each one is crafted with such care and
                    creativity."</p>
                <h3 class="author">Chris Lee</h3>
            </li>
            <li class="review-card">
                <ul class="start-list">
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-filled"></use>
                        </svg>
                    </li>
                    <li class="start-list-item">
                        <svg width="20" height="20">
                            <use href="../img/sprite.svg#icon-star-outline"></use>
                        </svg>
                    </li>
                </ul>
                <p class="review-text">"I appreciate how they source their coffee beans sustainably. It's great to
                    support such an ethical business!"</p>
                <h3 class="author">Patricia Taylor</h3>
            </li>
        </ul>
    </div>
</section>