<section class="section">
    <div class="container">
        <h2>Our Journey: Passion for Quality Coffee</h2>
        <ul>
            <li>
                <p>At CoffeeJoy, we believe that every cup tells a story. Our mission is to bring you the finest coffee
                    experiences,
                    crafted with care and dedication. We are committed to sourcing high-quality beans and roasting them
                    to perfection,
                    ensuring each sip is a delight.
                </p>
            </li>
            <li>
            </li>
        </ul>
    </div>
</section>


<!-- Git push -u origin nameofbranch -->