.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 375px) {
  .container {
    width: 288px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 705px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1312px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
