img{

    width:auto;
    height: auto;
    border-radius: 24px;
}


/*PC*/
@media screen and (min-width: 1440px) {

.block-container{
    
    width: 1440;
    height: 1217;
    gap: 32px;
    
}

.experience-header-container{
    
    width: auto;
    height: 109px;
    gap: 24px;
    margin: 32px;

}

.experience-header{

    width: auto;
    height: 58px;

font-family: Aboreto;
font-weight: 400;
font-style: Regular;
font-size: 48px;
text-box-trim: NONE;
line-height: 120%;
letter-spacing: -1%;
text-align: center;
}

.experience-paragraph{

    width: auto;
    height: 27px;

font-family: Quicksand;
font-weight: 400;
font-style: Regular;
font-size: 18px;
text-box-trim: NONE;
line-height: 150%;
letter-spacing: 0%;
text-align: center;

}

.experience-photo-container{

}

.experience-photo-list{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

    width:416px;
    
    row-gap: 32px;
    column-gap: 32px;
    height: 948px;

}

.experience-photo-item{

}

.experience-photo{
width: 416px;
}
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1439.9px) {
.block-container{

    width: auto;
    height: auto;
    gap: 32px;
    padding-bottom: 64px;


}


.experience-header-container{
    margin-top: 64px;
    width: auto;

    gap: 24px;
    
    margin-bottom: 24px;
}

.experience-header{
    
    width: auto;
    height: 43px;
    margin-bottom: 24px;
font-family: Aboreto;
font-weight: 400;
font-style: Regular;
font-size: 36px;
text-box-trim: NONE;
line-height: 120%;
letter-spacing: -1%;
text-align: center;


}

.experience-paragraph{

    width: auto;
    height: 27px;
    margin-bottom: 32px;
font-family: Quicksand;
font-weight: 400;
font-style: Regular;
font-size: 18px;
text-box-trim: NONE;
line-height: 150%;
letter-spacing: 0%;
text-align: center;

}

.experience-photo-container{

    width: auto;
    
    gap: 32px;
}

.experience-photo-list{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;

    row-gap: 32px;
    column-gap: 32px;



    
}

.experience-photo-item{


}

.experience-photo{

    max-width: 336px;
    min-width: 300px;
}

.experience-photo:last-child{
    object-fit: cover;
    max-width: 704px;
    min-width: 300px;
}
}

/* phone 375+*/
@media screen and (min-width: 375px) and (max-width:767.9px) {
.block-container{

   width: 320;

gap: 32px;

padding-top: 64px;

padding-bottom: 64px;



}

.experience-header-container{
margin-bottom: 24px;


}

.experience-header{
    margin-bottom: 24px;
    
font-family: Aboreto;
font-weight: 400;
font-style: Regular;
font-size: 36px;
text-box-trim: NONE;
line-height: 120%;
letter-spacing: -1%;
text-align: center;

}

.experience-paragraph{

font-family: Quicksand;
font-weight: 400;
font-style: Regular;
font-size: 18px;
text-box-trim: NONE;
line-height: 150%;
letter-spacing: 0%;
text-align: center;

}

.experience-photo-container{
width: 320;

padding-bottom: 64px;


}

.experience-photo-list{

}

.experience-photo-item{
    margin-top: 24px;
    margin-bottom: 24px;
}

.experience-photo{

    max-width: 288;
    max-height: 288;
}
}

/*ELSE (PHONE LESS THAN 375 more than 320)*//*
@media screen and (min-width: 320px) and (max-width:374.9px) {
.experience-header-container{

}

.experience-header{

}

.experience-paragraph{

}

.experience-photo-container{

}

.experience-photo-list{
    border-radius: 24px;
}

.experience-photo-item{

}

.experience-photo{

    max-width: 288;
    min-width: 200px;
    opacity: 1;
}
}

*/