.experience-header {
    margin-bottom: 24px;
    font-family: "Aboreto", sans-serif;;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}
.experience-paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 32px;
}
.experience-photo-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.experience-image {
    border-radius: 40px;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .experience-photo-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }
    .experience-photo-item {
        flex-basis: calc((100% - 32px) / 2);
    }
    .experience-photo-list .experience-photo-item:last-child {
        flex-basis: 100%;
    }
}
@media screen and (min-width: 1440px) {
    .experience-photo-list {
        flex-direction: column;
        max-height: 948px;
    }
    .experience-photo-item {
        flex-basis: calc((100% - 32px) / 3);
    }
    .experience-image {
        max-width: 416px;
    }
}