.nav-list {
  display: none;
}
.header-container {
  background: #e0cbb4;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: block;
  padding: 18px 10.5px 18px 11px;
  width: 84px;
}
.burger-btn {
  padding: 24px 12px;
  background-color: transparent;
  cursor: pointer;
}
.burger-icon {
  display: block;
  fill: #0b0803;
}
/* mobile menu*/
.mobile-menu {
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e0cbb4;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-nav {
  margin-bottom: 128px;
}
.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.mobile-menu-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-menu-header-logo {
  width: 84px;
  padding: 18px 10.5px 18px 11px;
}
.mobile-menu-close {
  background-color: transparent;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}
.svg-icon-close {
  fill: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0803;
  text-align: center;
}
.nav-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background: rgba(11, 8, 3, 0.1);
}

@media screen and (min-width: 768px) {
  .mobile-menu,
  .burger-btn {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-logo {
    padding: 18px 0;
    margin-right: 100px;
  }
  .nav-link {
    white-space: nowrap;
    display: block;
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #0b0803;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 772px;
  }
  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    background: #e0cbb4;
  }
}
