a {
  text-decoration: none;
}

.section-location {
  background-color: #e0cbb4;
}

.loc-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.loc-head {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.loc-bottom-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.loc-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

.loc-icon {
  fill: #0b0803;
  margin-bottom: 16px;
}

.loc-item p {
  font-family: 'Aboreto', sans-serif;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}

.loc-item .loc-adrs {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.loc-item a {
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.loc-item .loc-link-direct {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 32px;
  text-decoration: none;
}

.loc-link-icon {
  fill: #0b0803;
}

.map-container iframe {
  border-radius: 40px;
  max-width: 100%;
  height: 307px;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .map-container iframe {
    border-radius: 40px;
    width: 288px;
    height: 307px;
  }
}

@media screen and (min-width: 768px) {
  .loc-list {
    flex-direction: row;
  }

  .loc-item {
    flex-basis: calc((100% - 80px) / 3);
  }

  .map-container iframe {
    width: 704px;
    height: 377px;
  }
}

@media screen and (min-width: 1440px) {
  .container-location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .loc-head {
    font-size: 48px;
  }

  .loc-list {
    flex-direction: column;
  }

  .loc-item .loc-data-direct {
    margin: 0;
  }

  .map-container {
    display: flex;
    flex-basis: auto;
  }

  .map-container iframe {
    width: 869px;
    height: 697px;
  }
}
